<nav id="sidebar">
    <div class="sidebar-header">
        <h3><img th:src="@{../../image/sgu.png}"  class="img-fluid"/><span>Quản Lý Hồ Sơ</span></h3>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/admin/dashboard" class="dashboard">
                <i class="material-icons">dashboard</i>
                <span>Thống kê</span>
            </a>
        </li>

        <li class="dropdown">
            <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons">aspect_ratio</i>
                Tiêm chủng
            </a>
            <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                <li>
                    <a href="/admin/tiemchung">Danh sách</a>
                </li>
                <li>
                    <a href="/admin/lichhentiemchung">Lịch hẹn tiêm chủng</a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="/admin/khambenh" class="dashboard">
                <i class="material-icons">apps</i>
                <span>Khám Bệnh</span>
            </a>
        </li>

        <li class="">
            <a href="/admin/donthuoc" class="dashboard">
                <i class="material-icons">equalizer</i>
                <span>Đơn Thuốc</span>
            </a>
        </li>
    </ul>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuItems = document.querySelectorAll("#sidebar .list-unstyled.components li a");

        const activeItem = localStorage.getItem("activeMenu");

        menuItems.forEach(link => {
            const parentLi = link.parentElement;

            if (link.getAttribute("href") === activeItem) {
                parentLi.classList.add("active");
            }

            link.addEventListener("click", function () {
                localStorage.setItem("activeMenu", link.getAttribute("href"));
            });
        });
    });
</script>

