<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:replace="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biểu đồ đường huyết</title>
</head>
<body>
<div th:fragment="contentUser" class="container">
    <link rel="stylesheet" th:href="@{../../css/user/chitiettongquan.css}">

    <div class="merged-container">
        <h4 class="mb-4">Chi tiết nhóm máu</h4>
        <div class="card-wrapper">
            <div class="card">
                <div class="card-header">
                    <h5>Biểu đồ 10 lần đo gần nhất</h5>
                    <p>Đường huyết <span class="float-end">10.0 mg/DL</span></p>
                </div>
                <div class="card-body">
                    <canvas id="bloodSugarChart"></canvas>
                </div>
            </div>

            <div class="card mt-4">
                <button
                        type="button"
                        class="btn btn-check btn-floating btn-lg"
                        id="add-detail"
                >
                    <i class="fas fa-arrow-up"></i>
                </button>
                <div class="card-header">
                    <h5>Lịch sử đo (3 lần)</h5>
                </div>
                <div class="card-body">
                    <div class="history-item">
                        <span><i class="fas fa-tint blood-icon"></i>10.0 mg/DL</span>
                        <span>28/09/2024 17:56 <i class="fas fa-times delete-icon"></i></span>
                    </div>
                    <div class="history-item">
                        <span><i class="fas fa-tint blood-icon"></i>100.0 mg/DL</span>
                        <span>28/09/2024 17:56 <i class="fas fa-times delete-icon"></i></span>
                    </div>
                    <div class="history-item">
                        <span><i class="fas fa-tint blood-icon"></i>30.0 mg/DL</span>
                        <span>21/09/2024 08:46 <i class="fas fa-times delete-icon"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
    <script th:src="@{../../js/user/chitiettongquan.js}"></script>
</div>

</body>
</html>