<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/dashboard}">
<head>
    <title th:text="${param.id != null ? 'Cập nhật đơn thuốc' : 'Thêm mới đơn thuốc'}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:fragment="contentAdmin">
    <div class="card-body">
        <div class="col-md-6" style="max-width: 100%;">
            <div class="card mb-4">
                <h5 class="font-weight-bold card-header">Tạo mới Thông tin đơn thuốc</h5>
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/admin/donthuoc/save}" th:object="${donthuoc}" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="maDonThuoc">Mã Đơn Thuốc:</label>
                                        <input type="number" id="maDonThuoc" class="form-control form-control-lg bg-light fs-6" th:field="*{maDonThuoc}" disabled/>
                                        <span th:if="${#fields.hasErrors('maDonThuoc')}" th:errors="*{maDonThuoc}" class="text-danger"></span>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="maKhamBenh">Mã Khám Bệnh:</label>
                                        <select class="form-control" id="maKhamBenh" th:field="*{maKhamBenh}">
                                            <option value="">Chọn Mã Người Dùng</option>
                                            <option th:each="user : ${users}" th:value="${user.maKhamBenh}" th:text="${user.tenNguoiDung}"></option>
                                        </select>
                                        <span th:if="${#fields.hasErrors('maKhamBenh')}" th:errors="*{maKhamBenh}" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="bacSi">Bác Sĩ:</label>
                                        <input type="text" class="form-control" id="bacSi" th:field="*{bacSi}" required>
                                        <span th:if="${#fields.hasErrors('bacSi')}" th:errors="*{bacSi}" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="create-btn mt-2 d-flex justify-content-end">
                                <a th:href="@{/admin/donthuoc}" class="btn btn-outline-secondary" style="line-height: 32px;">Trở về</a>
                                <input type="submit" th:value="${param.id != null ? 'Lưu' : 'Thêm'}" class="btn btn-primary ml-2" style="min-width: 140px" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
