<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" th:href="@{/image/user/favicon.svg}">

    <!-- *************
		************ CSS Files *************
	************* -->
    <link rel="stylesheet" th:href="@{/font/remix/remixicon.css}">
    <link rel="stylesheet" th:href="@{/css/user/main.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" th:href="@{/vendor/overlay-scroll/OverlayScrollbars.min.css}">
</head>

<body>
<!-- Page wrapper starts -->
<div class="page-wrapper">

    <!-- App header starts -->
    <div class="app-header d-flex align-items-center">

        <!-- App brand starts -->
        <div class="app-brand ms-3">
            <a th:href="@{/}" class="d-lg-block d-none">
                <img th:src="@{/image/user/logo.svg}" class="logo" alt="Medicare Admin Template">
            </a>
            <a th:href="@{/}" class="d-lg-none d-md-block">
                <img th:src="@{/image/user/logo-sm.svg}" class="logo" alt="Medicare Admin Template">
            </a>
        </div>
        <!-- App brand ends -->

        <!-- App header actions starts -->
        <div class="header-actions">

            <!-- Search container starts -->
            <div class="search-container d-lg-block d-none mx-3">
                <input type="text" class="form-control" id="searchId" placeholder="Search">
                <i class="ri-search-line"></i>
            </div>
            <!-- Search container ends -->

            <!-- Header user settings starts -->
            <div class="dropdown ms-2">
                <a id="userSettings" class="dropdown-toggle d-flex align-items-center" href="#!" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="avatar-box">JB<span class="status busy"></span></div>
                </a>
                <div class="dropdown-menu dropdown-menu-end shadow-lg">
                    <div class="px-3 py-2">
                        <span class="small">Admin</span>
                        <h6 class="m-0">James Bruton</h6>
                    </div>
                    <div th:if="${session.loggedInUser}" class="mx-3 my-2 d-grid">
                        <a th:href="@{/logout}" class="btn btn-danger">Đăng xuất</a>
                    </div>
                </div>
            </div>
            <!-- Header user settings ends -->

        </div>
        <!-- App header actions ends -->

    </div>
    <!-- App header ends -->

    <!-- Main container starts -->
    <div class="main-container">

        <!-- App container starts -->
        <div class="app-container">

            <!-- App body starts -->
            <div class="app-body">

<!--                &lt;!&ndash; Row starts &ndash;&gt;-->
<!--                <div class="row gx-3">-->
<!--                    <div class="col-xxl-12 col-sm-12">-->
<!--                        <div class="card mb-3 bg-2">-->
<!--                            <div class="card-body">-->
<!--                                <div class="py-4 px-3 text-white">-->
<!--                                    <h6>Good Morning,</h6>-->
<!--                                    <h2>Dr. Patrick Kim</h2>-->
<!--                                    <h5>Your schedule today.</h5>-->
<!--                                    <div class="mt-4 d-flex gap-3">-->
<!--                                        <div class="d-flex align-items-center">-->
<!--                                            <div class="icon-box lg bg-arctic rounded-3 me-3">-->
<!--                                                <i class="ri-surgical-mask-line fs-4"></i>-->
<!--                                            </div>-->
<!--                                            <div class="d-flex flex-column">-->
<!--                                                <h2 class="m-0 lh-1">5</h2>-->
<!--&lt;!&ndash;                                                <p class="m-0">Thành viên</p>&ndash;&gt;-->
<!--                                                <p><a th:href="@{users/themnguoithan}" class="btn btn-primary">Update</a></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="d-flex align-items-center">-->
<!--                                            <div class="icon-box lg bg-lime rounded-3 me-3">-->
<!--                                                <i class="ri-lungs-line fs-4"></i>-->
<!--                                            </div>-->
<!--                                            <div class="d-flex flex-column">-->
<!--                                                <h2 class="m-0 lh-1">3</h2>-->
<!--                                                <p class="m-0">Surgeries</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="d-flex align-items-center">-->
<!--                                            <div class="icon-box lg bg-peach rounded-3 me-3">-->
<!--                                                <i class="ri-walk-line fs-4"></i>-->
<!--                                            </div>-->
<!--                                            <div class="d-flex flex-column">-->
<!--                                                <h2 class="m-0 lh-1">2</h2>-->
<!--                                                <p class="m-0">Discharges</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Row ends &ndash;&gt;-->

<!--                &lt;!&ndash; Row starts &ndash;&gt;-->
<!--                <div class="row gx-3">-->
<!--                    <div class="col-xl-3 col-sm-6 col-12" th:each="nguoiDung: ${dsNguoiDung}">-->
<!--                        <div class="card mb-3">-->
<!--                            <div class="card-body">-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="p-2 border border-primary rounded-circle me-3">-->
<!--                                        <div class="icon-box md bg-primary-subtle rounded-5">-->
<!--                                            <span th:if="${nguoiDung.hinhAnh == null or nguoiDung.hinhAnh.isEmpty()}">-->
<!--                                                <i class="ri-user-line fs-4 text-primary"></i>-->
<!--                                            </span>-->

<!--                                            <span th:if="${nguoiDung.hinhAnh != null and !nguoiDung.hinhAnh.isEmpty()}">-->
<!--                                                <img id="userImage" alt="User Picture" src="https://via.placeholder.com/150" class="rounded-5" />-->
<!--                                            </span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="d-flex flex-column">-->
<!--                                        <h4 class="lh-1" th:text="${nguoiDung.tenNguoiDung}"></h4>-->
<!--                                        <p class="m-0" th:text="${nguoiDung.gioiTinh}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="d-flex align-items-end justify-content-between mt-1">-->
<!--                                    <a th:href="@{/users/tongquan(maNguoiDung=${nguoiDung.maNguoiDung})}" class="text-primary">-->
<!--                                        <span>Xem thêm</span>-->
<!--                                        <i class="ri-arrow-right-line ms-1"></i>-->
<!--                                    </a>-->
<!--                                    <div class="text-end">-->
<!--                                        <p class="mb-0 text-primary birthdate" th:text="${nguoiDung.ngayThangNamSinh}"></p>-->
<!--                                        <p class="mb-0 text-primary"><span></span></p>-->
<!--                                        <span class="badge bg-primary-subtle text-primary small" th:text="${nguoiDung.moiQuanHe}"></span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div th:replace="~{${contentHome} :: contentHome}"></div>


            </div>
            <!-- App body ends -->

            <!-- App footer starts -->
            <div class="app-footer bg-white">
                <span>Medflex - Hồ sơ sức khỏe của gia đình</span>
            </div>
            <!-- App footer ends -->

        </div>
        <!-- App container ends -->

    </div>
    <!-- Main container ends -->

</div>
<!-- Page wrapper ends -->

<!-- *************
        ************ JavaScript Files *************
    ************* -->
<!-- Required jQuery first, then Bootstrap Bundle JS -->
<script th:src="@{/js/user/moment.min.js}"></script>

<!-- *************
        ************ Vendor Js Files *************
    ************* -->

<!-- Overlay Scroll JS -->
<script th:src="@{/vendor/overlay-scroll/jquery.overlayScrollbars.min.js}"></script>
<script th:src="@{/vendor/overlay-scroll/custom-scrollbar.js}"></script>

<!-- Apex Charts -->
<script th:src="@{/vendor/apex/apexcharts.min.js}"></script>
<script th:src="@{/vendor/apex/custom/home/patients.js}"></script>
<script th:src="@{/vendor/apex/custom/home/treatment.js}"></script>
<script th:src="@{/vendor/apex/custom/home/available-beds.js}"></script>
<script th:src="@{/vendor/apex/custom/home/earnings.js}"></script>
<script th:src="@{/vendor/apex/custom/home/gender-age.js}"></script>
<script th:src="@{/vendor/apex/custom/home/claims.js}"></script>

<!-- Custom JS files -->
<script th:src="@{/js/user/custom.js}"></script>
</body>


</html>

<script>
    function calculateAge(dateOfBirth) {
        const dateOnly = dateOfBirth.split(' ')[0];
        const birthDate = new Date(dateOnly);
        const today = new Date();

        let age = today.getFullYear() - birthDate.getFullYear();
        const monthDifference = today.getMonth() - birthDate.getMonth();

        if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        return age;
    }

    function displayAges() {
        const elements = document.querySelectorAll('.birthdate');
        elements.forEach(el => {
            const dateOfBirth = el.textContent.trim();
            const age = calculateAge(dateOfBirth);
            el.nextElementSibling.textContent = age;
            el.style.display = 'none';
        });
    }

    window.onload = displayAges;
</script>